<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href=<?= $this->baseUrl("dist/css/definirTarifa.css") ?> />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<script src="js/jquery-3.3.1.js"> </script>

<div class="container fundo">
  <div class="row">		
		<div class="col-sm-8" style="background-color:rgba(0,0,0,0.4); color: white">
			<center><H2>Definir Tarifas</h2></center>
			<div class="row"> 
                <div class="col">
                    <H4>Trajetos</H4>
                    <div class="alert alert-info">
                        <div class="form" style="padding: 2px">
                            <div class="">
                                <label class="radio">
                                    <input value="1" type="radio">Trajeto 1
                                </label>
                                <label class="radio">
                                    <input value="2" type="radio">Trajeto 2
                                </label>
                                <label class="radio">
                                    <input value="3" type="radio">Trajeto 3
                                </label>
                                <label class="radio">
                                    <input value="4" type="radio">Trajeto 4
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <H4>Informações do Trajeto</H4>
                    asdasd
                </div>
			</div>
		</div>			
	</div>
</div>